<?xml version="1.0"?>

<launch>
  <!--arg name="crazyflieSDK" default="~/crazyflie/crazyflie-clients-python/lib" /-->
  
  <arg name="joy_dev" default="/dev/input/js0" />

  <arg name="worldFrame" default="world"/>
  <arg name="frame1" default="/vicon/crazyflie1/crazyflie1"/>
  <arg name="frame2" default="/vicon/crazyflie2/crazyflie2"/>
  <arg name="frame3" default="/vicon/crazyflie3/crazyflie3"/>
  <arg name="uri1" default="radio://0/85/1M" />
  <arg name="uri2" default="radio://1/110/1M" />
  <arg name="uri3" default="radio://2/115/1M" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>


  <!--#####################################################################################-->

  <group ns="crazyflie1">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
      <arg name="enable_logging" value="False" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
  	  <arg name="frame" value="$(arg frame1)"/>
  	</include>	
  </group>

  <!--#####################################################################################-->

  <group ns="crazyflie2">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="crazyflie2" />
      <arg name="enable_logging" value="False" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
  	  <arg name="frame" value="$(arg frame2)"/>
  	</include>	
  </group>

  <!--#####################################################################################-->

    <group ns="crazyflie3">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri3)" />
      <arg name="tf_prefix" value="crazyflie3" />
      <arg name="enable_logging" value="False" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame3)"/>
    </include>  
  </group>

  <!--#####################################################################################-->
  <!-- run vicon bridge -->

  <include file="$(find crazyflie_coop)/launch/crazyflie_coop.launch">
    <arg name="worldFrame" value="$(arg worldFrame)"/>
  </include>

<!-- <node name="joystick_controller" pkg="crazyflie_demo" type="master_controller.py" output="screen">
      <param name="joy_topic" value="/joy" />
    </node> -->
  
  
  <node pkg="rosbag" type="record" name="crazy_bag" args="-a"/>
  <include file="$(find vicon_bridge)/launch/vicon.launch"/>

</launch>
